@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Dosis:wght@300&display=swap');
/*variables*/
$fuentePrincipal :'Dosis', sans-serif;

// Colores
$aqua: #6dbdaa;
$rosa: #FFB0F2;
$lima: #C6D736;
$morado: #D841FB;
$negro: #000;
$blanco: #FFF;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Separaciones
$separacion: 50px;
$espaciado: 4rem;

//Mapas
$redes: (
    twitter: #51aff8,
    facebook: #2956a3,
    instagram: #EA209E
);

$negrita: (
    delgada: 300,
    normal: 400,
    bold: 700,
    bolder: 900
);
/*Mixin*/
@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;

}

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fuentePrincipal;
    font-size: 1.6rem;

    &.fijar-body {
        overflow: hidden;
    }

}

p {
    font-size: 2rem;
    color: $negro;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

.bg-aqua {
    background-color: $aqua;
}
.bg-lima {
    background-color: $lima;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/*HEADER*/
.boton-basico{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.button-basic{
    background-color: white;
    border: 2px solid $rosa;
    padding: 15px 30px;
    text-align: center;
    cursor: pointer;

    a{
        color:black;
        font-size: 16px;
    }
}

.button-basic:hover{
    font-weight: map-get($negrita, bold );
}


.boton-seleccion{
    @extend .boton-basico;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-select  {
    @extend .button-basic;
    background-color: $morado;
    border-radius: 10px;
  }

  
.logo{
    justify-content: center;
}
.header {
    background-image:url(./img/fondo_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    .contenido-header {
        padding: calc($separacion / 2) 0;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    h1 {
        color: black;
        margin-bottom: 1rem;
        text-align: center;
        @include tablet {
            margin-bottom: 0;
        }
    }

    &.fijo {
        position: fixed;
        width: 100%;
        box-shadow: 0 .3rem .4rem #444;
    }
}

.navegacion-principal {
    display: flex;
    gap: 2rem;
    justify-content: center;
    a {
        color: $negro;
        font-size: 2rem;
        &:hover {
            color: $lima;
        }
    }
}

/*Tickets*/
.tickets {
    padding: $separacion 0;
    h3 {
        text-align: center;
        color: $blanco;
    }

    .contenedor-tickets {
        margin-top: calc($separacion / 2);
        @include grid(2, $separacion);
    }

    .plan {
        p {
            color: $blanco;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

.pase {
    width: 100%;
    border-spacing: 0;
    thead {
        background-color: $rosa;
        th {

            padding: calc($separacion / 4);
            color: $blanco;
            text-transform: uppercase;
            font-weight: map-get($negrita, bolder);
            font-size: 2rem;
        }
    }
    tbody {
        background-color: $blanco;

        td {
            padding: calc($separacion / 4);
            border-bottom: 1px solid #e1e1e1;
            text-align: center;
            font-weight: map-get($negrita, bold );
        }

        tr {
            &:last-of-type {
                td {
                    border:none;
                }
            }
        }
    }
    tfoot {
        background-color: $morado;

        td {
            padding: calc($separacion / 4);
            text-align: center;
            font-size: 3rem;
            color: $blanco;
        }
    }
}
/*CARTELES*/
.actuaciones {
    background-color: $rosa;
    padding: $separacion 0;

    h3, p {
        text-align: center;
        color: $blanco;
    }
    .dia {
        text-transform: uppercase;
        margin: $separacion 0;
    }

}


.calendario {
    padding: 0;
    list-style: none;
    li {
        padding: calc($separacion / 2);
        font-weight: map-get($negrita, bold );
        span {
            font-weight: map-get($negrita, normal);
        }
    }
}


.bg-aqua .calendario li:nth-child(odd) {
    background-color: darken($aqua, 10);
}

.bg-lima .calendario li:nth-child(odd) {
    background-color: darken($lima, 10);
}

/*Footer*/

.twitter {
    margin-top: 2rem;
    font-family: $fuentePrincipal;
    font-size: 18px;
    color: map-get($redes, twitter);
    padding: 20px;
    background-color: transparent;
    margin-left: 2rem;
    border-color: map-get($redes, twitter);
    
}

.twitter:hover{
    font-weight: map-get($negrita, bolder );
    cursor: pointer;
}

.facebook {
    @extend .twitter;
    color: map-get($redes, facebook);
    border-color: map-get($redes, facebook);
}

.instagram{
    @extend .twitter;
    color: map-get($redes, instagram);
    border-color: map-get($redes, instagram );
}

footer {
    background-color: $rosa;
    font-weight: map-get($negrita, bolder );
    padding: calc($separacion / 4);
    text-align: center;

    p {
        color: $blanco;
        margin: 0;
    }
}

